body{
    margin: 0 auto;
    width: 800px;
    border: 3px solid black;
    color:purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    color: red;
}
h2{
    color:brown;
}
.haus{
    color:purple;
    font-family: Arial, Helvetica, sans-serif;
    /*text-align: center;*/
    font-style: italic;
    border: 1   px solid green;
    margin-left: 50px;
    padding-left: 300px;
}
.liturinn{
    color: blueviolet
}

.vinstri{
    margin-left: 100px;
    text-align: left;
}

.blar{
    color: blue;
}
.graenn{
    color: green
}
.center{
    text-align: center
}
.svartur{
    color: black
}

em{
    color: red  
}